*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 150vh;
    width: 100%;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

.first{
    display: flex;
    border: 1px solid black;
    height: 5vh;
    width: 100%;
    align-items: center;
}

.logo{
    font-size: 24px;
    border: 1px solid blue;
    width: 40%;
    text-align: left;
    margin-left: 15%;
}

.option{
    border: 1px solid blue;
    font-size: 18px;
    display: flex;
    width: 60%;
    gap: 5%;
    justify-content: flex-end;
    margin-right: 15%;
}

.option1{
    border: 1px solid blue;
}

.second{
    display: flex;
    border: 1px solid black;
    height: 47vh;
    width: 100%;
}

.text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid blue;
    width: 40%;
    margin-left: 15%;
    justify-content: center;
}

.title{
    font-size: 40px;
    margin-top: 8px;
}

.p1{
    margin-top: 5px;
    font-size: 20px;
}

.btn1{
    font-size: 16px;
    padding: 5px;
    margin-top: 6px;
    border-radius: 5px;
    margin-bottom: 18px;
}

.picture1{
    display: flex;
    border: 1px solid blue;
    width: 60%;
    margin-right: 15%;
    overflow: hidden;
    justify-content: flex-end;
}

.img1{
    margin-block: 10%;
}

.third{
    display: flex;
    border: 1px solid black;
    height: 47vh;
    flex-direction: column;
}

.title2{
    border: 1px solid blue;
    margin-inline: 15%;
    text-align: center;
    font-size: 30px;

}

.container{
    display: flex;
    border: 1px solid blue;
    margin-inline: 15%;
    height: 70%;
    justify-content: space-around;
}

.mini{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    flex-wrap: wrap;
    width: 18%;
}

.card{
    display: flex;
    border: 1px solid blue;
    width: 100%;
    flex-grow: 1;
}

.ico{
    border: 1px solid purple;
    width: 100%;
}
.p2{
    border: 1px solid blue;
    font-size: 18px;
    text-align: center;
    margin-block: 0;

}






















.fourth{
    display: flex;
    border: 1px solid black;
    height: 19vh;
}

.fifth{
    display: flex;
    border: 1px solid black;
    height: 26vh;
}

.six{
    display: flex;
    border: 1px solid black;
    height: 6vh;
}

