*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 150vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.first{
    display: flex;
    height: 5vh;
    width: 100%;
    align-items: center;
    background-color: rgb(33, 51, 75);
}

.logo{
    font-size: 24px;
    width: 40%;
    text-align: left;
    margin-left: 15%;
    color: white;
}

.option{
    font-size: 18px;
    display: flex;
    width: 60%;
    gap: 5%;
    justify-content: flex-end;
    margin-right: 15%;
    color: white;
}

.second{
    display: flex;
    height: 47vh;
    width: 100%;
    background-color: rgb(33, 51, 75);
}

.text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    margin-left: 15%;
    justify-content: center;
    color: white;
}

.title{
    font-size: 40px;
    margin-top: 8px;
    text-align: justify;
}

.p1{
    margin-top: 5px;
    font-size: 20px;
    text-align: justify;
}

.btn1{
    font-size: 17px;
    padding: 8px 12px;
    margin-top: 6px;
    border-radius: 5px;
    margin-bottom: 18px;
    background-color: #288cf0;
    border: none;
    font-weight: 500;
    color: white;
}

.picture1{
    display: flex;
    width: 60%;
    margin-right: 15%;
    overflow: hidden;
    justify-content: flex-end;
}

.img1{
    margin-block: 10%;
}

.third{
    display: flex;
    height: 47vh;
    flex-direction: column;
}

.title2{
    margin-inline: 15%;
    text-align: center;
    font-size: 30px;

}

.container{
    display: flex;
    margin-inline: 15%;
    height: 70%;
    justify-content: space-around;
}

.mini{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 18%;
}

.card{
    display: flex;
    border: 2px solid blue;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
}

.ico{
    width: 100%;
}
.p2{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 0;
    margin-top: 8px;
}

.fourth{
    display: flex;
    height: 21vh;
    background-color: rgb(226, 222, 222);
}

.testimony{
    display: flex;
    flex-direction: column;
    margin-inline: 15%;
    justify-content: center;
}

.p3{
    font-size: 22px;
    text-align: justify;
}

.autor{
    text-align: end;
    font-size: 19px;
}

.fifth{
    display: flex;
    height: 24vh;
}

.call{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 18px;
    margin-inline: 15%;
    margin-block: 30px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding-block: 1%;
    background-color: #4ea2f7;
}

.title3{
    font-size: 26px;
    margin-block: 8px;
    text-align: center;
    color: white;
}

.p4{
    font-size: 21px;
    margin-top: 8px;
    margin-bottom: 18px;
    color: white;
}

.btn2{
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #4ea2f7;
    color: white;
    border: 2px solid white;
}

.six{
    display: flex;
    height: 6vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(33, 51, 75);
}

.p5{
    font-size: 17px;
    color: white;
}

.btn1,.btn2:hover{
    cursor: pointer;
}
